.cta {
    padding-top: 70px;
    padding-bottom: 70px;
}

.cta__block {

    display: flex;
    justify-content: space-between;
    align-items: center;


    border-radius: 20px;
    background-color: #58bebf;
}

.cta__img {
    margin-top: 60px;
    padding-top: 25px;
    padding-right: 25px;
    background-color: white;
    border-radius: 0 20px 0 0;
}

.cta__text{

}

.cta__title{

}
.cta__title.title{

}
